<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../index.js">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="/styles/style-home.css">
    <title>Gerenciamento de Itens</title>
</head>
<body>
    <header class="header">
        <div class="logo">Gerenciamento dos Produtos</div>
        <nav class="menu">
            <ul>
                <li><a href="/produtos">Produtos</a></li>
                <li><a href="/funcionarios">Funcionários</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <section class="add-item">
            <h2>Adicionar Item</h2>
            <form id="addItemForm" class="item-form" method="post">
                <label for="itemName" class="form-label">Nome do Item:</label>
                <input type="text" id="itemName" name="nome" class="form-input" placeholder="Digite o nome do item" required>

                <label for="itemQuantity" class="form-label">Quantidade:</label>
                <input type="number" id="itemQuantity" name="quantidade" class="form-input" placeholder="Digite a quantidade" required>

                <label for="itemPrice" class="form-label">Preço:</label>
                <input type="float" id="itemPrice" name="price" class="form-input" placeholder="Digite o preço do item" required>

                <button type="submit" class="form-button">Adicionar</button>
            </form>
        </section>

        <section class="item-list">
            <h2>Lista de Itens</h2>
            <input type="text" id="searchInput" class="form-input" placeholder="Pesquisar">
            <ul id="items" class="list"></ul>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script> 

        function produtos(){

        document.getElementById('items').innerHTML = "";

        fetch('/recProdutos')
        .then(response => response.json())
        .then(data => {
            data.forEach(element => {
                var newItem = `
                <li class="list-item" data-id="${element.id}">
                        <div class="item-details">
                            <div>
                                <strong>${element.nome}</strong><br>
                                Quantidade: ${element.quantidade}<br>
                                Código: ${element.id}
                            </div>
                            <div>
                                Preço: R$ ${element.preco}<br>
                                Valor total: R$ ${element.preco * element.quantidade}
                            </div>
                        </div>
                        <button class="delete">Remover</button>
                    </li>
                    `;
                    $('#items').append(newItem);
                });
            });
        }

        $(document).ready(function () {
            produtos();
        $('#addItemForm').on('submit', function (e) {
            e.preventDefault();

            var itemName = $('#itemName').val();
            var itemQuantity = $('#itemQuantity').val();
            var itemCode = $('#itemCode').val();
            var itemPrice = ($('#itemPrice').val()).replace(",", ".");
    

            var itemTotal = (parseFloat(itemPrice) * parseFloat(itemQuantity)).toFixed(2) 
            
            fetch('/produtos', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    nome: itemName,
                    quantidade: itemQuantity,
                    preco: itemPrice
                }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Product added successfully:', data)});

            produtos();
    
            // Limpar os campos do formulário
            $('#itemName').val('');
            $('#itemQuantity').val('');
            $('#itemCode').val('');
            $('#itemPrice').val('');
        });
    
        $('#items').on('click', '.delete', function () {
            var lista = $(this).parent();

            var itemid = lista.data('id');
            
            fetch('/produtos', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                }, body: JSON.stringify({
                    id: itemid
                }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Product added successfully:', data)});

            lista.remove();
        });
        $('#searchInput').on('input', function () {
                var searchValue = $(this).val().toLowerCase();

                $('#items .list-item').each(function () {
                    var itemText = $(this).text().toLowerCase();

                    if (itemText.includes(searchValue)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
</body>
</html>