<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../index.js">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="/styles/style-home.css">
    <title>Gerenciamento de Itens</title>
</head>
<body>
    <header class="header">
        <div class="logo">Gerenciamento dos Produtos</div>
        <nav class="menu">
            <ul>
                <li><a href="#">Produtos</a></li>
                <li><a href="#">Funcionários</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <section class="add-item">
            <h2>Adicionar Item</h2>
            <form id="addItemForm" class="item-form">
                <label for="itemName" class="form-label">Nome do Item:</label>
                <input type="text" id="itemName" class="form-input" placeholder="Digite o nome do item" required>

                <label for="itemQuantity" class="form-label">Quantidade:</label>
                <input type="number" id="itemQuantity" class="form-input" placeholder="Digite a quantidade" required>

                <label for="itemPrice" class="form-label">Preço:</label>
                <input type="float" id="itemPrice" class="form-input" placeholder="Digite o preço do item" required>

                <button type="submit" class="form-button">Adicionar</button>
            </form>
        </section>

        <section class="item-list">
            <h2>Lista de Itens</h2>
            <input type="text" id="searchInput" class="form-input" placeholder="Pesquisar">
            <ul id="items" class="list"></ul>
        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script> $(document).ready(function () {
        $('#addItemForm').on('submit', function (e) {
            e.preventDefault();
    
            var itemName = $('#itemName').val();
            var itemQuantity = $('#itemQuantity').val();
            var itemCode = $('#itemCode').val();
            var itemPrice = ($('#itemPrice').val()).replace(",", ".");

            var itemTotal = (parseFloat(itemPrice) * parseFloat(itemQuantity)).toFixed(2)   

            var newItem = ` 
                <li class="list-item">
                    <div class="item-details">
                        <div>
                            <strong>${itemName}</strong><br>
                            Quantidade: ${itemQuantity}<br>
                            Código: 01
                        </div>
                        <div>
                            Preço: R$ ${itemPrice}<br>
                            Valor total: R$ ${itemTotal}
                        </div>
                    </div>
                    <button class="delete">Remover</button>
                </li>
            `;
    
            $('#items').append(newItem);
    
            // Limpar os campos do formulário
            $('#itemName').val('');
            $('#itemQuantity').val('');
            $('#itemCode').val('');
            $('#itemPrice').val('');
        });
    
        $('#items').on('click', '.delete', function () {
            $(this).parent().remove();
        });
        $('#searchInput').on('input', function () {
                var searchValue = $(this).val().toLowerCase();

                $('#items .list-item').each(function () {
                    var itemText = $(this).text().toLowerCase();

                    if (itemText.includes(searchValue)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
</body>
</html>
