<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de gerenciamento</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div class="conteiner">
        <div class="conteiner__login">
            <img src="assets\Melhore logo! (1).png" alt="">
            <div class="conteiner__input">
                <h1 class="conteiner__login__titulo">Crie uma conta para você</h1>
                <form method="post">
                    <label for="text" class="login__nome__completo">Nome completo</label>
                    <br>
                    <input type="text" class="login__nome__completo__input" name="login" placeholder="Insira seu nome completo aqui">
                    <br>
                    <label for="text" class="login__senha">Senha</label>
                    <br>
                    <input type="password" class="login__senha__input" name="password" placeholder="Insira sua senha">
                    <br>
                    <input type="submit" class="login__botao" value="Crie sua conta">
                </form>

            </div>
        </div>
    </div>
</body>

</html>